.button {
  background: none; // Supprime l'arrière-plan
  border: none; // Supprime la bordure
  padding: 0; // Supprime l'espace interne
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonImage {
  width: 40px; // Ajuste la taille des flèches
  height: auto;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
