// styles/layout.scss

.content-wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem; // Padding commun sur les côtés
}

@media (max-width: 768px) {
  .content-wrapper {
    padding: 0 1rem; // Réduction du padding sur mobile
  }
}
