@use "variables";
@use "sass:color";

// Mixin pr mode clair
@mixin light-mode {
  $text-dark: #333; // remplacer après si il faut
  :root {
    color: variables.$text-dark; // modifié pr réf variables
    background-color: variables.$bg-light; // modifié pr réf variables
  }

  a:hover {
    color: color.adjust(variables.$primary-color, $lightness: 10%);
  }

  button {
    background-color: variables.$button-bg-light; // modifié pr réf variables
  }
}

@media (prefers-color-scheme: light) {
  @include light-mode;
}
