// Déclaration des variables locales
$primary-color: #646cff;
$primary-hover: #535bf2;
$bg-dark: black;
$bg-light: #ffffff;
$text-dark: #213547;
$text-light: rgba(255, 255, 255, 0.87);
$button-bg-dark: #1a1a1a;
$button-bg-light: #f9f9f9;
