.collapse {
  flex: 1; // Permet à chaque collapse de prendre un espace égal
  
  border-radius: 10px;

  @media (min-width: 1024px) {
    width: 582px;
  }
}

.header {
  background: #ff6060;
  padding: 15px 20px;
  display: flex;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background 0.3s ease-in-out;
  max-width: 100%; 
}

.header:hover {
  background: #e55050;
}

.title {
  margin: 0;
  flex-grow: 1;
  text-align: left;
}

.content {
  background: white;
  color: black;
  padding: 15px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  border-radius: 0 0 10px 10px;
}
