.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); // colonnes dynamiques
  gap: 20px;
  position: relative;
  width: 100%;
  border-radius: 20px;
  background-color: #f6f6f6;
  padding: 40px;
  margin-top: 40px;
}

/* petits écrans */
@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}
